$bg-color: #333;
$text-color: #fff;

.jp_sc_card {
  width: 250px;
  height: 100%;
  border-radius: 10px;
  background-color: $bg-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: #000 solid 1px;
  padding: 1cap;
  .jp_sc_card__body {
    padding: 1cap;
    color: #ede7e7;
    font-family: "Roboto", sans-serif;
    border: #cac7c7 solid 1px;
    font-size: 1rem;
  }
  .jp_sc_card__title {
    font-size: 1.2rem;
    font-weight: 600;
    border: #000 solid 1px;
  }
  .jp_sc_card__text {
    font-weight: 600;
  }
  .jp_sc_card__icon {
    font-size: 2.5rem;
  }
  .jp_sc_card__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card__footer__text {
      font-size: 1rem;
      font-weight: 600;
      color: #000;
    }
    .jp_sc_card__footer__icon {
      font-size: 1.5rem;
      color: #000;
    }
  }
}
.jp_sc_container {
  position: relative;
}
