.tooltip-container {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.tooltip-trigger {
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  font-size: 11px;
}

.tooltip-trigger:hover + .tooltip-text {
  display: block;
}
